* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-weight: bolder;
}

:root {
    --clr-bg: #6c5b88;
    --clr-button-bg: #f5ad8d;
    --clr-button-shadow: ;
    --clr-calc-bg: #44384c;
    --clr-calc-shadow: ;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--clr-bg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: var(--clr-calc-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 -2px var(--clr-calc-shadow), 4px 4px 0 0 black;

}

input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 -2px var(--clr-button-shadow), 4px 4px 0 0 black;
    background-color: var(--clr-button-bg);
    border: 2px solid black;
    font-size: 25px;
    color: black;
    cursor: pointer;
    margin: 10px;
    transition-timing-function: ease;
    transition-duration: 100ms;
}

input:hover {
    transform: translate(-4px, -4px);
    box-shadow: 8px 8px 0 -2px var(--clr-button-shadow), 8px 8px 0 0 black;
}

input:active {
    transform: translate(4px, 4px);
    /* box-shadow: -8px -8px 0 -2px var(--clr-button-shadow), -8px -8px 0 0 black; */
    box-shadow: none;

}


form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;

}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    /* box-shadow: none; */
}


form input.equal {
    width: 145px;
}